@using eCommerce.Controllers
@model ProductListViewModel
@{
	ViewData["Title"] = "Product Lists";
}

<h2>Product Listing</h2>

<a asp-action="Create" asp-controller="Product" class="btn btn-secondary">
	Create Product
</a>

@if (TempData["Message"] != null)
{
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		@TempData["Message"]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

@if (!Model.Products.Any())
{
	<p>No products are currentlu found</p>
}
else
{
	<table class="table table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Price</th>
			<th>Links</th>
		</tr>
	</thead>
	<tbody>
			@foreach (Product product in Model.Products)
			{
				<tr>
					<td>@product.Title</td>
					<td>@product.Price.ToString("C")</td>
					<td>
						<a class="btn btn-primary" asp-controller="Product" 
							asp-action="Edit" 
							asp-route-id="@product.ProductId">Update</a>

						<a class="btn btn-danger" asp-controller="Product"
						   asp-action="Delete"
						   asp-route-id="@product.ProductId">Delete</a>
					</td>
				</tr>
			}
	</tbody>
</table>

<nav aria-label="Product pages">
		<ul class="pagination">
			<li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
				<a class="page-link" asp-action="Index" asp-route-page="1">First</a>
			</li>
			<li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
				<a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)">Previous</a>


			</li>
			@for (int i = 1; i <= Model.TotalPages; i++)
			{
				<li class="page-item @(i == Model.CurrentPage ? "active" : "")">
					<a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
				</li>
			}
			<li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
				<a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)">Next</a>
			</li>
			<li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
				<a class="page-link" asp-action="Index" asp-route-page="@(Model.TotalPages)">Last</a>
			</li>
		</ul>
</nav>
}